

<div class="container-fluid">



	<div class="formContainer loginContainer">
		<div class="logoContainer">
			<img src="img/logo.jpg" />
		</div>
		<div class="formControls centered">
			<p class="formLabel">Nombre de usuario</p>
			<input class="text" placeholder="usuario"/>
		</div>
		<div class="formControls centered">
			<p class="formLabel">Contraseña</p>
			<input type="password" class="text" placeholder="contraseña"/>
		</div>
		
		<div class="formControls centered">
			<a href="#/home" class="buttonMain">Iniciar</a>
		</div>
		
	</div>


</div>
