
<div class="container-fluid" ng-init="sLoadRegion()">

	<div class="fullscreenBack">

		<div id="carRegions" class="owl-carousel owl-theme">
			<div class="item" style="background-image: url('img/back1.jpg')">
			</div>
			<div class="item" style="background-image: url('img/back2.jpg')">
			</div>
			<div class="item" style="background-image: url('img/back3.jpg')">
			</div>
		</div>

		<div class="grayBack">
			<div class="regionLogo">
				<img src="img/logoMountain.png" />
			</div>

			<p class="title">Tu provincia:</p>

			<p class="subtitle">Pichincha</p>

			<button type="button" ng-if="!showChangeRegion" ng-click="showRegionPicker()" class="btn btn-info">Cambiar de
				provincia</button>

			<div class="dropdown primaryDropdown" ng-if="showChangeRegion">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Selecciona una provincia</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div>

			<div class="btnMainContainer">
				<a href="#/home" type="button" class="btn btn-primary btnMain">Continuar</a>
			</div>
		</div>

	</div>

</div>